/* body.okr-theme-dark, body.dark-mode-reverse{
    --page-bg:#191919;
    --primary-color: #67a050;
    --primary-color-80: rgba(132,197,106,0.8);
    --primary-title-color: #c1c2c3;
    --primary-text-color: #96979b;
    --primary-desc-color: #909399;
    --bg-login:#191919;
    --body-text:#96979b;
    --bg-login-box:#131313;
    --bg-manage-menu: #1a1b1d;
    --bg-search: #F7F7F7;
    --manage-menu-color: #8b8d91;
    --white-color:#131313;
    --white-color-80: rgba(#131313,0.8);
    --white-color-50: rgba(#131313,0.5);
    --border-color: #2f2f2f;
    --messenger-nav: #787878;
    --login-box-Shadow:none;
    --manage-box-Shadow: 0 0 10px #323232;
    --menu-color: #aaa;
    --messenger-msg-icon: #30363b;
    --messenger-active: rgba(132, 197, 106, 0.18);
    --dialog-item-notice: #202020;
    --dialog-head-shadow: 1px 6px rgba(0, 0, 0, 0.2);
    --blockquote: #ccc;
    --pre-bg: #23241f;
    --pre-color:#f8f8f2;
    --flow-status-archived-color: #7f7f7f;
    --flow-status-start-color: #FF7070;
    --flow-status-progress-color: #fc984b;
    --flow-status-test-color: #2f99ec;
    --flow-status-end-color: #0bc037;
    --emoji-users-color: #818181;
    --dialog-emoji: #5ba93c;
    --dialog-emoji-50: rgba(#5ba93c, 0.5);
    --completed-color:#19be6b;
    --icon-avatar:#61B2F9;
    --icon-avatar-department:#5BC7B0;
    --icon-avatar-project:#6E99EB;
    --icon-avatar-task:#9B96DF;
    --dialog-goto:#555;
} */