
@import 'dark.css';
@import 'light.css';
@import 'tailwind.css';

* {
    margin: 0;
    padding: 0;
}

/* 刷新按钮 */
.okr-app-refresh i{
    font-size: 20px;
    cursor: pointer;
    padding:0 10px;
}

/* 时间组件 */
.okr-date-picker-waps{
    width: 100%;
    height: 32px;
    border-radius: 3px;
}
.okr-app-date-pickers{
    width: 100%;
}
.okr-app-date-pickers input,.okr-date-picker-waps{
    background: #f4f5f7;
    border-color: #f4f5f7;
    font-weight: 400;
}


/* drawer样式调整  */
.okr.n-drawer--right-placement{
    border-radius: 18px 0 0 18px;
}
.okr.n-drawer--right-placement .n-drawer-header{
    border-bottom:none !important;
    line-height: 1.5 !important;
}

/* 全局返回按钮 */
.okr-nav-back{
    cursor: pointer;
    padding-right: 8px;
    color: #636468;
}
.okr-nav-back .okrfont{
    font-size: 26px;
}
.okr-nav-back.portrait{
    display: none;
}
body.window-portrait .okr-nav-back{
    display: block;
}
.electron-single-micro-apps .okr-nav-back{
    display: none;
}


/* 全局更多下拉样式 */
.okr-more-button-popover.n-popover{
    @apply overflow-hidden rounded;
}
.okr-more-button-popover.n-popover .n-popover__content{
    @apply bg-white py-4;
}
.okr-more-button-popover.n-popover .n-popover__content p{
    @apply py-8 px-16 cursor-pointer;
}
.okr-more-button-popover.n-popover .n-popover__content p:hover{
    background: #F4F5F7;
}


/*  */
.okr-objective-num{
    color: #68d838;
    display: inline-block;
    font-size: 12px;
    transform: scale(0.9);
    border-radius: 8px;
    padding: 0 6px;
    margin-right: 4px;
    background: rgba(135, 208, 104, 0.2);
}
