
@import 'taskfont.css';
@import 'dark.css';
@import 'light.css';
@import 'tailwind.css';

* {
    margin: 0;
    padding: 0;
}

.n-card-header{
    @apply relative;
}
.n-card-header::before{
    @apply w-[calc(100%-48px)] h-1 bg-[#F4F5F7] absolute bottom-16 ;
    content: " ";
}
.n-card-header{
    @apply pb-32 !important;
   
}

/* drawer样式调整  */
.n-drawer--right-placement.okr{
    border-radius: 18px 0 0 18px;
}
.n-drawer--right-placement.okr .n-drawer-header{
    border-bottom:none !important;
    line-height: 1.5 !important;
}